[2016-04-30 19:44] salf opened #1 "undefined method to_h for Array"
Just tried on current project (ruby 2.0.0p598 / rails 4.2.5.1):
➜ ✗ rake active_record_doctor:unindexed_foreign_keys > unindexed_foreign_keys.txt

[2016-05-02 17:02] gregnavis commented on #1
Hey @salf! Thanks for the report. I'll take a look at the issue on Wednesday.

[2016-05-04 14:19] #1 closed

[2016-05-04 14:20] gregnavis commented on #1
@salf I fixed it and release version 1.1.1. Please update the gem and try again. If you can spot any other issues just open an issue. I'm glad to help.

[2016-05-29 19:52] kvokka opened #3 "polymorphic associations bug"
My model
[code]

but tool do not see this association and try to add index to `configurable_id`

[2016-05-31 11:00] gregnavis commented on #3
Thanks for reporting. I'll fix this in the next release.

[2016-06-02 19:46] adsteel opened #4 "Incorrect extraneous index calculations"
Applicable readme section: https://github.com/gregnavis/active_record_doctor#removing-extraneous-indexes.

For the sake of this explanation, let's say we have a `rooms` table that has `rooms.room_number` and `rooms.floor_number`. We build a multi-column index with `floor_number` first, `room_number` second.

A multi-column index in SQL works by (essentially) concatenating the values of the two col

[2016-06-03 19:08] michaelachrisco commented on #3
Well shoot, came across this one as well. Looking forward to the next release.

[2016-06-04 08:11] gregnavis commented on #4
Thanks for reporting. I'd like to ask you for some clarification. Could you provide an example incorrect output and the expected result? Or is this the problem with the README only?

I'm looking at README right now and I misused notation that I adopted. The list in _Removing Extraneous Indexes_ reads:

* `column_1`
* `column_1`, `column_2`
* …
* `column_1`, `column_2`, …, `column_(n - 1)`

but it

[2016-06-04 08:25] #3 closed

[2016-06-06 22:44] adsteel commented on #4
You are correct, this works correctly. Actually, I misread the readme, so I'm not even sure that's incorrect. Sorry for the false issue!

[2016-06-06 22:44] #4 closed

[2016-06-20 12:17] rubyconvict opened #6 "it fetches sidekiq option as table and column"
```cat unindexed_foreign_keys.txt```
[code]

```cat config/sidekiq.yml```
[code]

[2016-06-21 08:09] gregnavis commented on #6
@rubyconvict thanks for reporting. Will take care of this soon.

[2016-07-04 00:25] JDrizzy opened #7 "Task extraneous_indexes crashes on duplicate index"
A table with two indexes both pointing to the same table column, crashes task `extraneous_indexes`. Example indexes shown below, including error message:

[code]

[code]

Great Gem! very helpful. Let me know if you require further details.
Thanks

[2016-08-16 09:44] gregnavis commented on #7
@JDrizzy thanks for kind words and your bug report. The issue has been fixed in master. I'll release a new version this week.

[2016-08-16 09:44] #7 closed

[2016-08-16 09:51] gregnavis commented on #6
@rubyconvict I'm not able to reproduce the problem. My hypothesis is that the first line (`Sidekiq concurrency: 25`) is printed during initialization by your app. The only places where anything is printed are in [`io_printer.rb`](https://github.com/gregnavis/active_record_doctor/blob/62f4fe9727834b9efb321b4fb3ce32418316487b/lib/active_record_doctor/printers/io_printer.rb) and none of them could pr

[2016-08-16 10:05] gregnavis opened #8 "Unique and non-unique indexes are considered equivalent"
# Problem

A non-unique index should _never_ be considered an equivalent of a unique index. If the two indexes are on the same columns then the _unique_ one should be preferred as dropping it would change the semantics of the app. There are a few cases to consider.

# Case 1: identical columns

With indexes like:

[code]

active_record_doctor is likely to recommend dropping the first index which i

[2016-08-16 12:14] #8 closed

[2016-08-17 08:00] rubyconvict commented on #6
Indeed, this is causing the problem, but the gem's behaviour is reckless...

```cat config/initializers/sidekiq.rb```
[code]

[2016-08-17 09:24] gregnavis commented on #6
@rubyconvict could you clarify what you mean by _reckless_? I want to be sure I understand your use case correctly so could you provide an example of how you think it should work? Thanks.

[2016-08-17 13:57] rubyconvict commented on #6
Sorry, for my english, what I meant to say is that maybe including unexpected `puts` output from an initializer or from wherever it might come from, should be avoided at all cost, STDOUT can be tricky.

[2016-08-23 08:40] gregnavis commented on #6
@rubyconvict Yes, this is a good point. An alternative approach I considered was to specify a file name where the results would be written. However, I opted for a simpler approach of using stdout and redirection.

I think I'd like to keep this simpler approach for now and focus on building more features but will certainly consider alternatives in the future. I'm closing this issue as it's not acti

[2016-08-23 08:40] #6 closed

[2016-08-25 08:26] crmaxx opened #9 "Support for rails5"
[code]

[2016-08-25 10:50] gregnavis commented on #9
Thanks for reporting :+1: I'll handle this soon.

[2016-09-21 13:13] #9 closed

[2017-02-02 16:07] BorisBresciani opened #11 "Errors generate"
Hey

I have this error:
`/home/XXXX/.rvm/gems/ruby-2.3.3/gems/active_record_doctor-1.3.0/lib/generators/active_record_doctor/add_indexes/add_indexes_generator.rb:30:in `content': undefined method `camelize' for nil:NilClass (NoMethodError)
`

When I execute the command:
`rails generate active_record_doctor:add_indexes unindexed_foreign_keys.txt`

Thanks !

[2017-05-15 18:52] clairity opened #12 "Support Rails 5.1.1"
i'm on `rails 5.1.1` (ruby 2.4.1) and it seems bundler resolves active_record_doctor to `1.0.1`, which depends on `rails 4.2.x`:

```active_record_doctor was resolved to 1.0.1, which depends on rails (~> 4.2)```

if i track master, then it resolves to `1.3.0`, but neither seem to support `rails 5.1.x`:

```active_record_doctor was resolved to 1.3.0, which depends on rails (< 5.1, >= 4.2)```

an up

[2017-05-16 08:11] gregnavis commented on #12
Thank you for reporting, @clairity. I'll look into this soon.

[2017-05-16 08:11] gregnavis commented on #11
Could you post `unindexed_foreign_keys.txt` here?

[2017-05-18 04:09] gregnavis commented on #12
@clairity, I just resolved the issue and added official support for Rails 4.2, 5.0 and 5.1. Could you confirm it works in your project? If so, I'll release a new version of the gem. You can pull in from GitHub by adding the following to `Gemfile`:

[code]

[2017-05-18 04:13] gregnavis commented on #11
@BorisBresciani it seems the issue here is that a line in `unindexed_foreign_keys.txt` starts with a space. I'll improve the tool to make it behave better in such cases. For now, please ensure that no line is prefixed by a space.

[2017-05-18 05:04] clairity commented on #12
@gregnavis works great, thanks! btw, i used this shortcut form in the gemfile since i have set `bundle config github.https true`:
[code]

[2017-05-18 09:50] gregnavis commented on #12
Fixed in d20798ec1c526b445f519df1b54b37d368997b0a.

[2017-05-18 09:50] #12 closed

[2017-05-18 09:50] gregnavis commented on #11
Addressed in d20798ec1c526b445f519df1b54b37d368997b0a.

[2017-05-18 09:50] #11 closed

[2017-08-04 23:31] zenspider opened #13 "Error on missing_foreign_keys"
[code]

[2017-08-07 12:37] gregnavis commented on #13
Thank you for reporting, @zenspider! I'll look into this soon.

[2017-10-05 10:21] gregnavis commented on #13
@zenspider what database are you using?

[2017-10-05 18:58] zenspider commented on #13
It's been months... I don't remember... Sorry. Probably pg or sqlite3.

[2017-12-30 12:26] gregnavis commented on #13
I'm closing this as I don't know how to reproduce the problem. If you run into it again feel free to reopen.

[2017-12-30 12:26] #13 closed

[2018-04-12 12:46] cpgo opened #15 "Rails 5.2 support"
Any plans to update the gemfiles to Rails 5.2?

[2018-04-12 18:20] gregnavis commented on #15
Definitely yes! Thank you for reminding me.

[2018-05-01 03:49] gregnavis commented on #15
@cpgo could you clarify what's the issue? I just installed in a Rails 5.2 project without any issues.

[2018-05-01 16:12] cpgo commented on #15
I had no issues updating to rails 5.2, I just noticed that there wasnt a rails5.2 gemfile [here](https://github.com/gregnavis/active_record_doctor/tree/master/gemfiles).
But it seems to be there now 😄

[2018-07-16 22:30] CodingAnarchy opened #16 "Running the undefined_table_references task loads Rails twice"
[code]

I get duplicate initialization of files in my `lib/` directory when running the `undefined_table_references` task (and only that one).  See above for an example sanitized snippet.

[2018-07-28 19:58] gregnavis commented on #15
These gem files are only used for testing purposes - see [`.travis.yml`](https://github.com/gregnavis/active_record_doctor/blob/098880e5f2ecfcfa2a0c8f9d1e41fe35121e77e7/.travis.yml) for more information.

I'm closing the issue. If you run into any problems with Rails 5.2 feel free to reopen or submit another issue.

[2018-07-28 19:58] #15 closed

[2018-09-18 22:47] jaredmoody opened #18 "Display tasks when running rake -T"
Currently no `active_record_doctor` tasks are showing up for me when running `rake -T`

[2018-09-26 15:53] bhushangahire commented on #18
+1

[2018-10-01 15:59] flyinggrizzly opened #19 ":missing_unique_indexes task isn't registered"
It isn't currently possible to run the `active_record_doctor:missing_unique_indexes` task:

[code]

[2018-10-08 04:59] gregnavis commented on #19
I found out the root cause: I haven't released it yet :smiley: You can add the following to your `Gemfile` to install `master` though I don't guarantee it works (but I'm happy to make it work in case it's broken):

[code]

I'm closing this for now as this isn't a bug. I'll make a new release soon.

[2018-10-08 04:59] #19 closed

[2018-10-08 05:06] gregnavis commented on #16
It seems it's the only task (except the unreleased `missing_unique_indexes`) that use `Rails.application.eager_load!`. If you add a rake task to `lib/tasks/test.rake` like:

[code]

and run `bundle exec rake eager_load_test` then does that cause the double-loading?

It seems I can't reproduce that in any repos I have here but it might be related to app configuration.

[2018-12-07 15:55] baronworks opened #20 "feature request: missing_presence_validation set flag to ignore if default set"
Been using active_record_doctor:missing_presence_validation and find that over 75% of the columns listed have defaults defined in the db and in this case no active record validation is needed for these.

For me having a way to ignore any columns with defaults set would be a nice feature and filter out a lot of work not needed.

Great Gem and Thanks

[2018-12-07 17:04] gregnavis commented on #20
Thank for your kind words. I'm glad you find the gem useful.

This would definitely be a great feature to have. I'll add it to the roadmap.

[2019-01-03 20:16] duleorlovic opened #21 "missing_presence_validation is not needed for belongs_to in Rails 5"
In [Rails 5](https://github.com/rails/rails/issues/18233) `belongs_to` automatically adds presence validation.
The problem is that we check for [company_id](https://github.com/gregnavis/active_record_doctor/blob/master/lib/active_record_doctor/tasks/missing_presence_validation.rb#L34) but Rails add presence validation for `company`.

Would be enough to check for existence of validation without `_i

[2019-01-03 20:20] duleorlovic commented on #21
I'm not able to create failing test for this. II do not know why those automatic validator do not show up, probably `Temping` is different than Rails `ApplicationRecord` in this case.
[code]

[2019-01-10 11:11] djezzzl commented on #21
@duleorlovic It should be showed up in `User.validators`, check this configuration:
`Rails.application.config.active_record.belongs_to_required_by_default = false`. And what is your Rails version?

BTW, the check you want to have is implemented in my alternative: [database_consistency](https://github.com/djezzzl/database_consistency). Let me know if it solves your problem.

[2019-01-10 14:47] gregnavis commented on #21
Thank you for reporting, @duleorlovic!

Your test case didn't work because you need to specify `belongs_to :company, required: true` explicitly to ensure it's not overridden by defaults (as per @djezzzl comment). Also, you can put the block of `class_eval` right into the block passed to `Temping.create`.

The primary issue here is that in case of a `belongs_to` association validation can be define

[2019-01-10 14:49] gregnavis commented on #16
@CodingAnarchy I haven't heard back from you and no one else is reporting problems like that so I'm going to close this for now. Feel free to reopen if that's still a problem.

[2019-01-10 14:49] #16 closed

[2019-02-12 14:38] jvenezia opened #23 "Document/Permit usage outside a rake task"
Thanks a lot for this gem, really helpful 😄!

We added those to our test suite, ensuring we don't have new database problems in the future.

Here is an example of how we use it :

[code]

This works great, but I would prefer not having to load rake tasks to be able to do that (`before { Rails.application.load_tasks }`).
Also it would be nice to document this usage in the Readme!

[2019-02-13 10:53] gregnavis commented on #23
Thanks for the kind words, @jvenezia. I'm glad you find the gem useful.

I'm actually planning on making the tool usable in standalone form. For example, your case of allowing some exceptions to the unindexed foreign keys rule would be handled by configuring it in `.doctor.yml`. Would that be useful to you? I'm happy to take your use case into account when designing that.

[2019-02-15 15:02] jaydorsey opened #24 "Migration names must be unique"
I ran into an issue today when I was checking for missing indexes:

- Generate missing index migrations & apply (`bundle exec rake db:migrate`) per the docs
- Add a commit that modifies a table I just created missing index migrations for (the new commit is also missing an index)
- Re-generate missing index migrations, and try to migrate again

This generates an error message `Multiple migrations h

[2019-02-20 13:40] jvenezia commented on #23
`.doctor.yml` is definitely a great idea to have a project-wide configuration and exclude false positives.
The tests would then just ensure the output is empty.

[2019-02-28 05:20] kirantpatil opened #25 "[FAQ] Rails 6 support"
Hi,

Does it support Rails 6 ?

Thanks.

[2019-03-15 12:17] jaydorsey commented on #24
After thinking about this for a bit, I'm going to close this until I have a little more time to do some research. The short-term fix is as easy as renaming the migration class which is good enough.

My initial thought of appending a timestamp doesn't make as much sense to me as I initially thought

Rails seems to handle this, via the migration generator, by not creating the 2nd migration, returnin

[2019-03-15 12:17] #24 closed

[2019-08-23 14:43] foca opened #26 "Allow models backed by a DB view in undefined_table_references"
We've introduced models backed by database views to improve some associations, and now the doctor is complaining that the model doesn't have a valid table.

Which fair point: it doesn't. But the model is valid and works well in production, so we've had to remove this task from our CI process as it was preventing the build from being successful.

`undefined_table_references` should both get the lis

[2019-09-21 12:33] gregnavis commented on #26
@foca thanks for opening the issue. Which Rails version are you using? I'm guessing 4.2 as it should work on higher versions.

I already implemented support for this for Rails 4.2 + PostgreSQL and will release soon. Stay tuned!

[2019-09-21 21:39] foca commented on #26
Yes, sorry, 4.2.

Thank you so much ❤️

[2019-09-28 09:06] gregnavis commented on #23
@mtejedorwolox, thank you for the kind words. A new version is in progress so stay tuned!

[2019-12-14 14:09] gregnavis commented on #25
1.7.0 does support Rails 6.

[2019-12-14 14:09] #25 closed

[2019-12-14 14:09] gregnavis commented on #26
Fixes in 1.7.0.

[2019-12-14 14:09] #26 closed

[2019-12-14 14:09] gregnavis commented on #21
Fixes in 1.7.0.

[2019-12-14 14:09] #21 closed

[2019-12-14 14:16] gregnavis commented on #20
@baronworks, I'm working on a new release and wanted to include your request. However, I realized that a default does **NOT** mean a validation is not required. If you explicitly pass `nil` for a column value then the default would be ignored.

[2020-01-29 02:32] jaredmoody commented on #23
+1 on thanks for this gem :)

I'd also be interested in using this integrated into a CI that runs all checks each build.

Things I can think of to get here:

Things that seem required:
- Need a way to run all checks at once
- Need a way to configure which checks run and/or to skip false positives
- Proper exit status on fail (may already be complete)

Things that would be nice:
- Progress output
-

[2020-01-29 02:44] jaredmoody opened #36 "Display list of tasks at top of readme"
Scrolling through the README to find the name of the task I want to run is a little cumbersome. What do you think about listing them at the top of the file with links to the full descriptions?

[2020-01-29 02:45] jaredmoody commented on #36
Also if #18 were resolved, that would help this a bit - right now scrolling through the readme or reading the code are the only ways of getting the task names.

I'll take a look at #18 and see what I can do.

[2020-02-01 17:37] #18 closed

[2020-02-01 17:45] #36 closed

[2020-02-01 17:46] gregnavis commented on #36
Both this and #18 are now fixed on `master`. Thank you for reporting the issue!

[2020-02-03 14:59] gregnavis commented on #20
I'm closing this as my current understanding is columns with defaults may still require validation. @baronworks, feel free to add more details to the discussion if I misunderstood your case.

[2020-02-03 14:59] #20 closed

[2020-02-10 18:01] fidalgo opened #38 "Suggestion: Check for IDs using Integers instead of BigInt"
Given no one is immune to it https://m.signalvnoise.com/update-on-basecamp-3-being-stuck-in-read-only-as-of-nov-8-922am-cst/

and there's a lot of people using Rails from prior this https://github.com/rails/rails/pull/26266

So a check for it would be awesome!

[2020-02-10 18:15] gregnavis commented on #38
Absolutely love the suggestion, @fidalgo! I'll add a check.

[2020-02-10 18:55] fidalgo commented on #38
@gregnavis by ID's I mean ID's and foreign keys, because if you have one as Integer and another as BitInt... :boom:

[2020-02-26 12:06] djezzzl commented on #23
Hey guys, there is another gem (https://github.com/djezzzl/database_consistency) which serves the same purposes but in a different way. We have something in common as some differencies. That gem has configuration file which can disable some checks if needed.

P.S. I leave this comment just to provide people some alternatives if they want. No plan to hurt `ActiveRecordDoctor` reputation 👍

[2020-05-16 21:25] josh-m-sharpe opened #42 "Suggestion: paranoia is deprecteted / check for 'discarded_at' column as well"
I would suggest modifying 'active_record_doctor:unindexed_deleted_at' to also check for the 'discarded_at' column because paranoia is more or less deprecated in favor of the 'discard' gem.  See the notice at the top of paranoia's readme [here](https://github.com/rubysherpas/paranoia).

[2020-07-06 19:03] hrdwdmrbl opened #43 "Error: ActiveRecord::StatementInvalid: Could not find table 'action_text_rich_texts'"
[code]
[code]

[2020-09-19 14:58] #42 closed

[2020-10-20 21:11] MatheusRich commented on #43
Same with `active_record_doctor:missing_non_null_constraint`

[2020-11-05 13:19] hlascelles opened #50 "Handling multiple schemas"
We'd like to check multiple schemas in our DB. At present we are using the gem with great success in specs thus:

`output = ActiveRecordDoctor::Tasks::UnindexedForeignKeys.new.run`

However we can't see an easy way to move between schemas. Is that supported? Thanks!

[2020-12-08 21:34] olivierbuffon commented on #43
Any update on this issue by any chance? I'm experiencing the same problem as well.

[2020-12-21 14:53] mollerhoj commented on #23
+! Would be great with built in support for adding the checks to specs!

[2021-01-08 14:32] cxspxr commented on #43
same

[2021-03-05 23:10] ariccio opened #53 "Unhandled exception in missing_non_null_constraint"
It looks like ARD crashes when some relations don't exist:

[code]

[2021-03-25 17:36] gregnavis commented on #50
@hlascelles, thank you for opening the issue. I'd like to clarify the meaning of "schema" here - do you mean something like a PostgreSQL schema? Or are you saying you're using two `schema.rb` at the same time?

[2021-03-25 18:22] gregnavis commented on #53
Thank you for reporting. This is fixed in 14aba5697dfcc5e7647817376bfe92dbff0c40d8. The fix should be available later this week after I release 1.7.2.

[2021-03-25 18:22] gregnavis commented on #43
Thank you for reporting. This is fixed in 14aba5697dfcc5e7647817376bfe92dbff0c40d8. The fix should be available later this week after I release 1.7.2.

[2021-03-27 18:48] gregnavis commented on #53
I've just released 1.7.2 with the aforementioned fix. I'm closing the issue but if there are still issues feel free to reopen.

[2021-03-27 18:48] #53 closed

[2021-03-27 18:48] gregnavis commented on #43
I've just released 1.7.2 with the aforementioned fix. I'm closing the issue but if there are still issues feel free to reopen.

[2021-03-27 18:48] #43 closed

[2021-03-28 01:12] ariccio commented on #53
Thank you. I'm quite glad someone wrote something to statically check these issues! It's an excellent little tool, something I don't see enough of in web dev.

[2021-03-28 22:54] dougc84 opened #54 "undefined_table_references - uninitialized constant ActiveRecord::ConnectionAdapters::PostgreSQLAdapter"
When running `bundle exec rake active_record_doctor:undefined_table_references` on an app (Rails 6, FWIW) with MySQL, it throws a `NameError: uninitialized constant ActiveRecord::ConnectionAdapters::PostgreSQLAdapter` exception.  Obviously, there's a DB type check missing somewhere.  All others are functional.  This isn't something I'm worried about at the moment or I'd try to form a PR, but just

[2021-05-08 15:26] gregnavis commented on #54
@dougc84, do you have a backtrace handy? My guess is it's coming from [`Base#views`](https://github.com/gregnavis/active_record_doctor/blob/master/lib/active_record_doctor/tasks/base.rb#L47) as it's the only place where that adapter is being referenced explicitly.

[2021-05-10 16:05] dougc84 commented on #54
I submitted this issue over a month ago.  I've long since moved on.

[2021-05-17 12:17] fatkodima opened #59 "Improvements"
I have some improvements in mind, but need to verify this is aligned with the project goals, before implementing.

1. Currently, we can run one check at a time. Would be better to have some command (`bin/active_record_doctor`) to simply run *all* checks.
2. There is no way to configure the behavior. Would be good to have some config file (`.yml`) to be able to setup, for example, which checks to s

[2021-05-18 15:00] gregnavis commented on #59
Thank you for your comment. Let me address the issues you raised one-by-one:

1. It's been on the agenda for some time and I pushed the first implementation to `master` today.
2. Also on the agenda -- happy to hear your input on this. I do have a design in mind but haven't had time to write it up yet.
3. I'll address them separate at the end.
4. Minor correction, the gem does **not** depend on `ra

[2021-05-19 19:19] fatkodima commented on #59
With recent commits, only configuration is left, so I think that this can be closed.

[2021-05-19 19:19] #59 closed

[2021-05-22 19:49] fatkodima opened #63 "Suggestions"
1. Currently, **all** tables are checked against some violations. But for me, it makes more sense to check only tables having a model within application. When the db schema is not kept in the cleanest state, it is possible to have ununsed tables and to get false positives on them.
2. This gem does not support [rails multiple databases feature](https://guides.rubyonrails.org/active_record_multiple_

[2021-05-26 17:40] #38 closed

[2021-05-31 14:53] gregnavis commented on #54
Fixed in 1.8.0.

[2021-05-31 14:53] #54 closed

[2021-06-07 16:49] owst opened #64 "Cannot load such file -- active_record_doctor/tasks/extraneous_indexes after upgrading from 1.7.1 => 1.8.0"
Hi, thanks for the gem, we find it very useful!

Just to let you know that a minor-version upgrade from 1.7.1 => 1.8.0 is not backwards compatible, with errors such as
`cannot load such file -- active_record_doctor/tasks/extraneous_indexes`

As I couldn't see anything mentioning this in the changelog, I had a dig and it looks like this came from https://github.com/gregnavis/active_record_doctor/co

[2021-06-08 15:09] gregnavis commented on #64
Thanks for reporting the issue.

Active Record Doctor is meant to be used via the rake task only. By requiring those files you rely on implementation details. I assume you do that from your test suite so that active_record_doctor can be used as part of your build, is that correct? I'd like to understand your use case better to ensure it's covered by future releases.

[2021-06-09 08:31] owst commented on #64
hi @gregnavis

Yes, we use ARD in our test suite, currently we run `ActiveRecordDoctor::Detectors::ExtraneousIndexes`, `ActiveRecordDoctor::Detectors::UnindexedForeignKeys` and `ActiveRecordDoctor::Detectors::MissingForeignKeys` directly as `clazz.new.run`. In all three cases we post-process the output and remove certain known false positives, and thus have tests that say something like `expect(re

[2021-06-10 13:52] fatkodima commented on #64
@owst
Can you a bit explain this? Do you have any views/materialized views and this check suggests indexes on them?

Seems like this cannot happen, because this check runs only on database tables
https://github.com/gregnavis/active_record_doctor/blob/048999f6141325cac03f8f517a2a161a298c2e3d/lib/active_record_doctor/detectors/unindexed_foreign_keys.rb#L12

[2021-06-10 16:53] owst commented on #64
Hi @fatkodima,

I might have confused things here. It seems that v1.7.2 (with Rails 5, that we are using) _did_ include views as well as tables: https://github.com/gregnavis/active_record_doctor/blob/72b91d15a3857885db32e6e4142c3744cfc1e805/lib/active_record_doctor/tasks/base.rb#L32-L39

but in 1.8.0, only tables are considered.

[2021-06-10 18:01] fatkodima opened #65 "Check for has_one backed by a unique index"
[code]

`has_one` should be backed by a unique index (on `accounts.user_id`), because otherwise user can have multiple accounts in the database.

There is already a check `MissingUniqueIndexes`, checking unique validations without indexes. It is pretty generically named and seems like this new check would be added into there? Or a new check created?

@gregnavis, wdyt?

[2021-08-23 20:30] hlascelles commented on #50
This is for using with a Postgres DB with multiple (DB) schemas, but one `schema.rb`.

eg:

[code]

[2021-08-24 12:35] gregnavis commented on #50
@hlascelles, thanks for clarification. How did you set up Active Record for multiple schemas?

[2021-08-26 14:55] abodelot opened #67 "missing_presence_validation: unexpected error on HABTM join tables"
Hi!

when running `rake active_record_doctor:missing_presence_validation`, the gem reports a missing validation error on the FK columns on join tables (used in HABTM relations).

Is this really the intended behavior of this gem? Since there is no model for the join table, it shouldn't report an error IMHO.

Example with schema:
[code]

Pet:
[code]

User model
[code]

Output:
[code]

Expected outpu

[2021-11-07 16:13] amckinnell opened #69 "False positive for extraneous Postgres trigram index"
Here is a fragment from my `schema.rb` file that is flagged by `rails active_record_doctor:extraneous_indexes` as having an extraneous index that I believe is a false positive.

[code]
The output from running `rails active_record_doctor:extraneous_indexes` is:

[code]

Thanks for making such a useful tool.

[2021-11-18 01:26] jaredmoody opened #72 "Default belongs_to validations don't trigger missing non-null constraint"
When belongs_to relationships are required by default, as they are in Rails 5.0+ config defaults, i.e.

`Rails.application.config.active_record.belongs_to_required_by_default = true`

Then `belongs_to` relationships without `optional: true` have a validation attached that is not detected by `MissingNonNullConstraint` when that same column does not have a `null: false` constraint in the database.

[2021-11-19 21:10] jaredmoody opened #73 "False Positive: missing_non_null_constraint using STI"
Example:

[code]

missing_non_null_constraint reports a missing null constraint on Adjective#object when it should not.

[2021-11-19 21:57] jaredmoody opened #74 "Feature Request: Ignore checks"
I'd like to run active_record_doctor as part of my CI, but need a way to ignore violations and/or false positives.

[2021-11-23 18:41] gregnavis commented on #74
Thank you for opening the issue, @jaredmoody. It's already on `master` but I need to prepare a release, including documentation. For now, you can install from `master` and then add a config file named `.active_record_doctor` to your project root. You can use [`default.rb` from the repo](https://github.com/gregnavis/active_record_doctor/blob/91b2f6311a3ace35489d43edb8485a3ccbb6d5c0/lib/active_recor

[2021-11-23 19:30] fatkodima commented on #72
Seems like this is already reported?

For simple models:
[code]

I got:
[code]

[2021-11-24 07:21] jaredmoody commented on #72
Maybe I missed something…

I’ll see if I can put together a repo to demonstrate or prove myself wrong 🙃

[2021-11-24 15:49] gregnavis commented on #73
@jaredmoody, thank you for opening the issue and helping make `active_record_doctor` better.

I think that when STI is in use then we should generate a warning if and only if **all** models expect a given attribute to be present. If at least one model allows an empty value then no error should be reported.

Your issue highlights a problem with how `missing_non_null_constraint` is implemented. Curr

[2021-11-24 15:52] gregnavis commented on #69
@amckinnell, thank you for reporting the issue. It'll be addressed in the upcoming release.

[2021-11-24 15:53] gregnavis commented on #67
@abodelot, thanks for the bug report. The fix is on `master` and will be released soon.

[2021-11-25 22:10] #69 closed

[2021-11-26 16:35] #73 closed

[2021-11-29 16:42] gregnavis commented on #74
@jaredmoody, I've just released 1.9.0.rc1. Please give it a shot:

[code]

and run `bundle install`. Detailed installation and usage instructions are in the README. If you stumble upon any issues then please report them here.

[2021-11-29 16:43] gregnavis commented on #23
Big announcement! I've just released v1.9.0.rc1 which supports CI-usage and configurability. Please add the following to `Gemfile`:

[code]

and run `bundle install`. Detailed installation and usage instructions are in the README. If you stumble upon any issues then please report them here.

[2021-11-29 16:44] gregnavis commented on #64
@owst, I've just released v1.9.0.rc1 which should address some of your issues. Please add the following to `Gemfile`:

[code]

and run `bundle install`. Detailed installation and usage instructions are in the README. If you stumble upon any issues then please report them here.

[2021-11-29 16:44] gregnavis commented on #67
@abodelot, I've just released v1.9.0.rc1 which should address some of your issue. Please add the following to `Gemfile`:

[code]

and run `bundle install`. Detailed installation and usage instructions are in the README. If you stumble upon any issues then please report them here.

[2021-12-03 11:49] gregnavis commented on #74
I'm closing the issue as it's addressed in 1.9.0 which I released a few minutes ago.

[2021-12-03 11:49] #74 closed

[2021-12-03 11:50] gregnavis commented on #23
I'm closing the issue as it's addressed in 1.9.0 which I released a few minutes ago. Please consult the updated README for instructions on how to configure the tool.

[2021-12-03 11:50] #23 closed

[2021-12-03 11:51] gregnavis commented on #64
@owst, I'm closing the issue as it's addressed in 1.9.0 which I released a few minutes ago. Please consult the updated README for instructions on how to configure the tool to ignore certain warnings.

[2021-12-03 11:51] #64 closed

[2021-12-03 11:55] gregnavis commented on #67
I'm closing the issue as it's addressed in 1.9.0 which I released a few minutes ago. If there are still issues then feel free to reopen.

[2021-12-03 11:55] #67 closed

[2021-12-16 15:06] owst commented on #64
Sorry for the slow reply @gregnavis - the changes in v1.9 look great, thanks!

[2021-12-28 18:08] viktorianer opened #77 "Ignore or warn about models referencing non-existent internal Rails tables by default"
On Rails 7 (and probably on Rails 6 too) with new app I will get following errors, when I run `bundle exec rails active_record_doctor:undefined_table_references`:

[code]

I think it is intended, but in many cases it should not be an error, because most new apps are not using those features a long time, if ever at all (e.g. `InboundEmail`).

[The documentation says](https://github.com/gregnavis/ac

[2022-01-01 17:13] fatkodima commented on #77
Personally, I think that was not the best idea to ignore them by default, because it is possible to miss some flaws even for them (despite being developed by smart people etc), for example, duplicate indexes or `integer` primary keys. I would prefer to have none of the tables ignored by default and the user should himself configure those if he decides to.

As for mentioned models, the same thought

[2022-01-01 17:15] fatkodima commented on #65
@gregnavis Is this a good idea?

[2022-01-01 17:56] viktorianer commented on #77
As I said, "Maybe it is too much to ignore them". And I am fine with the ideas like "And those warnings will disappear.". When it would be only a warning. But it is an error, stopping execution of following tasks.

[2022-01-01 17:58] fatkodima commented on #77
Yes, I mean "errors". They will disappear.

[2022-01-01 18:07] viktorianer commented on #77
I know what you mean. But in the most cases it still produces error on new projects, before I start to use those Models and features. With warnings it would be OK, because all following tasks would run as they should.

[2022-01-11 10:57] gregnavis commented on #65
@fatkodima, I think it's a great idea! `MissingUniqueIndexes` seems to be the right place for that check.

[2022-01-11 10:59] gregnavis commented on #72
@jaredmoody, were you able to reproduce the error?

[2022-01-18 18:44] jaredmoody commented on #72
Built a sample repo/rails app and it seems to be working correctly there, so closing.

[2022-01-18 18:44] #72 closed

[2022-02-15 09:58] MaksJS opened #82 "undefined method `to_set' for String, when using a lowered index"
My migration is:

[code]

It translates in `schema.rb` as:

[code]

Note there are no surrounding brackets like we have for other fields:

[code]

[code]

The error is:

[code]

in `active_record_doctor-1.9.0/lib/active_record_doctor/detectors/missing_unique_indexes.rb:66:in block in unique_index?`

This can be fixed by making sure `index.columns` is wrapped into an Array:

[code]

[2022-02-17 16:33] owst opened #83 "Check constraint enforcing a column is NOT NULL does not satisfy missing_non_null_constraint"
**tl;dr**: `missing_non_null_constraint` gives a false positive when a column has a validated check constraint enforcing that the column is NOT NULL.

We use Postgres, and have added a (validated) [check constraint](https://www.postgresql.org/docs/11/ddl-constraints.html#DDL-CONSTRAINTS-CHECK-CONSTRAINTS) that ensures there are no NULL values in a particular column, but we're seeing a false positi

[2022-02-20 20:41] fatkodima commented on #82
@MaksJS Would you like to open a PR?

[2022-02-20 20:51] fatkodima commented on #83
@owst This is a very valid request due to the reasons about locking and large tables you mentioned.

I solved the similar problem recently:
https://github.com/fatkodima/online_migrations/blob/99cb0c2e2594e8fc638a341f0cf028a4c946f19f/lib/online_migrations/command_checker.rb#L302-L309

I will create a PR.

[2022-02-23 21:03] gregnavis commented on #83
@owst, thank you for such **fantastic** bug report. Kudos for the effort put into writing it. 🙇🏻‍♂️

@fatkodima already produced a PR which I'll have a look at shortly. Thank you for such quick turnaround time, @fatkodima!

I'd like to notice, we should probably add a mirror check to `missing_presence_validator` and make it require a validator if there's an appropriate check constraint. What do yo

[2022-02-23 22:25] fatkodima commented on #83
I think this is a great idea. I forgot about it. Will update my PR.

[2022-03-11 14:57] owst opened #90 "Anonymous subclass of ActiveRecord::Base causes exception"
As part of our test suite we run ActiveRecordDoctor and also create anonymous subclasses of `ActiveRecord::Base` - the latter causes an exception in the former

[code]

here's a simple reproduction script:
[code]

[2022-03-11 15:42] fatkodima commented on #90
Why not to use
[code]
?

This is not a trivial error to fix in `active_record_doctor`, since other methods used internally like `.table_exists?` won't also work.

[2022-03-12 16:36] fatkodima commented on #63
@gregnavis, So I'm considering to implement 2-nd point. Is this something you want to this in this gem?

And regarding 1-st point: it will greatly simplify the implementation of 2-nd, since we can basically iterate over models and use their `#connection` to retrieve all we needed instead of manually try to connect to different databases and iterate over tables/views/indexes/etc there.

[2022-03-12 17:33] fatkodima opened #92 "Check for missing length validations"
It will be a good idea to require field length validations (`validates :name, length: { maximum: 64 }`) when a model has a field limit in the database (`t.string :name, limit: 64`).

This way we will not make a useless save and rollback to the database for invalid fields, but also have properly populated validation errors.

[2022-03-14 15:54] owst commented on #90
Hi @fatkodima,

The classes are defined in a test, and it isn't otherwise necessary to explicitly name the class (we are using RSpec and generating the subclass in a `let` call, so can refer to the anonymous class directly). As it happens, in the relevant test we explicitly assign `self.table_name` for the generated subclasses and I checked that `model.table_exists?` does work.

Is there any other

[2022-03-14 16:51] fatkodima commented on #90
Ah, ok, you're right 👍

[2022-03-30 21:08] #82 closed

[2022-03-31 11:19] gregnavis commented on #92
Great idea, @fatkodima! If you don't mind, I'd like to take a stab at implementing it.

[2022-03-31 11:34] fatkodima commented on #92
Yes, sure 👍

[2022-04-03 17:19] fatkodima opened #94 "`MissingForeignKeys` detector assumptions"
The checker makes an assumption that foreign-key like columns should be in the form of `..._id`.

It can:
1. lead to false positives, when some table have some column ending with `_id` which is not a reference to other table, but, for example, some id from the external resource (`users.stripe_id`).
2. miss some custom named foreign keys: `belongs_to :user, foreign_key: :user_key`

I think, what sh

[2022-04-11 19:27] gregnavis commented on #92
Implemented in bd65bda252e5773ddac0ba7c5df14f3b3f3dfef9. Thanks for the suggestion!

[2022-04-11 19:27] #92 closed

[2022-04-11 19:58] gregnavis commented on #63
Re 1, I'm thinking about adding a global option to make this possible. What do you think?

Re 2, what kind of features were you thinking about to support this?

[2022-04-11 20:16] fatkodima commented on #63
👍

I'm worrying I can misinterpret this question, so I would appreciate if you would rephrase it.

[2022-04-16 13:43] gregnavis commented on #63
Re 2, how could `active_record_doctor` help there? I can imagine ensuring databases specified in `connects_to` are actually defined in `databases.yml`. What other checks were you thinking about?

[2022-04-16 16:07] fatkodima commented on #63
I mean not new checks (detectors) somehow related to multiple databases. But be able to run existing checks against other databases.

For example, if I have `primary` and `analytics` databases, I will want to run `ExtraneousIndexes` detector against both of them.

[2022-04-27 23:20] barnaclebarnes opened #95 "ArgumentError: Polymorphic associations do not support computing the class."
I have a Polymorphic `belongs_to` like this:

[code]

I get this error when running the rake task:

[code]

I guess a) it shouldn't error out and b) should give some advice on what to do.

[2022-04-28 08:37] gregnavis commented on #95
Thank you for opening the issue, @barnaclebarnes. I added support for polymorphic associations so expect to see an update later today.

[2022-04-29 01:25] barnaclebarnes commented on #95
@gregnavis Thanks for that. I just pulled down master and it is now crashing on a different error. I have this:

[code]

And this is causing this on when processing the  `Map` model:

[code]
Thoughts?

[2022-04-29 07:23] gregnavis commented on #95
Looks like a bug in the app itself. Notice that `Map` defines `screen_section_locations` (with emphasis on `screen`) and the other class is named `StorySectionLocation` (with emphasis on `Story`).

[2022-05-02 01:58] barnaclebarnes commented on #95
@gregnavis LOL, you're right. All works now. 🥇

[2022-05-02 01:58] #95 closed

[2022-05-07 08:37] gregnavis commented on #63
@fatkodima, shouldn't both database use the same schema?

[2022-05-07 08:40] fatkodima commented on #63
For example, `primary` database contains users and projects, but `analytics` contains clicks, downloads and similar things.

[2022-05-07 08:46] gregnavis commented on #90
@owst, let me know what you think about the above.

[2022-05-11 13:26] viktorianer opened #96 "Don't know how to build task 'active_record_doctor:incorrect_length_validation'"
It isn't currently possible to run the `active_record_doctor:incorrect_length_validation` task:

[code]

[2022-05-11 14:41] fatkodima commented on #96
This checker is not yet released.

[2022-05-11 15:20] viktorianer commented on #96
But it is in the README?! 👎🏼

[2022-05-11 15:22] viktorianer commented on #96
OK, I should read the README for the version I use. 🥇

[2022-06-05 18:46] fatkodima opened #99 "Use `SchemaCache` internally"
We can use [`SchemaCache`](https://api.rubyonrails.org/classes/ActiveRecord/ConnectionAdapters/SchemaCache.html) internally to not request the same information from the db over and over. I am sure, this will improve runtime on decent sizeable projects with many models/tables.

Unfortunately, I do not have a decent project under my hands right now to test the actual improvement.

[2022-06-11 12:58] #83 closed

[2022-07-07 11:57] #65 closed

[2022-07-20 11:51] fatkodima opened #109 "Suggestion regarding indexes on boolean fields"
Indexes on booleans are not as useful as people tend to think. On my laptop using postgres (default configuration) index was only used when <= 20% of rows satisfied the target value.

Most of the time, people add indexes for boolean columns like `admin`, `deleted`, `banned`, which have a distribution of 1% vs 99%, so the partial index would help.

So, I propose to suggest removing indexes on boole

[2022-07-20 12:01] fatkodima opened #110 "Suggest to use `jsonb` instead of `json`"
This is PostgreSQL specific. The problem is described here - https://github.com/fatkodima/online_migrations#adding-a-json-column.
Also seems like `jsonb` is the preferred type and it also shows a better performance.

[2022-07-20 14:24] gregnavis commented on #110
I like the idea.

More generally, we could have a detector that looks for columns of type X and recommends converting to type Y. Can you think of any other examples where this would be a good idea?

[2022-07-20 14:27] gregnavis commented on #109
Great idea. Let's wait with development until I clear up the PR backlog.

[2022-07-20 14:29] fatkodima commented on #110
From the top of my head - nope, but need to research.

😄

[2022-09-20 20:18] manuelmeurer opened #112 "NoMethodError: undefined method `include?' for #<Proc...>"
I just installed active_record_doctor 1.10.0 and ran it for the first time and the following error was thrown:

[code]

The code at admin_user.rb:46 is:

[code]

Let me know if I can do anything else to debug!

[2022-09-21 00:57] fatkodima commented on #112
Thanks for reporting. Should be fixed by #113.

[2022-09-21 09:32] gregnavis commented on #112
@manuelmeurer, thank you for reporting. @fatkodima, thanks for the quick fix.

I'm reopening the issue as the fix hasn't been released yet.

[2022-10-03 22:36] fatkodima opened #114 "Feature: Ability to generate todo files (like rubocop does)"
So it is easier to incorporate into existing large codebases. Currently the user should manually copy-edit the error output into the ignore rules.